:root{
  --primary-color : #252525;
  --secondary-color : rgb(82, 255, 59);
}

header{
  /* position: sticky; */
  background-color: #050505;
  width: 100%;
  height: 4rem;
  box-shadow: 0px 0.05rem 1rem var(--secondary-color);
  display: flex;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5vw;
  margin: 0rem 2rem;
}

#name{
  display: inline-block;
  cursor: pointer;
}

#greeting{
  font-family: "Dancing Sctipt", cursive;
  display: flex;
  display: inline-block;
}

nav ul{
  display: flex;
  width: auto;
  margin-right: 1rem;
  list-style: none;
}
a{
  text-decoration: none;
}
nav ul li{
  margin-right: 1rem;
  cursor: pointer;
}

nav ul li i{
  color: rgb(233, 233, 233);
  font-size: 1.8vw;
  text-shadow: 0.1px 0.1px 0.1px var(--secondary-color);
}