#page3{
  width: 100%;
  height: 100vh;
  background-color: green;
  position: relative;
}

#page3 p{
  font-size: 12vw;
  text-wrap: nowrap;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}

#bugDiv{
  position: relative;
  width: 30vh;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#bug{
  height: 10vw;
  width: 10vw;
  border-radius: 5vw;
  z-index: 100;
  background-color: black;
}

#msgCloud{
  width:auto;
  height: auto;
  z-index: 100;
}

#leftCloud{
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-100%, -100%);
  width: 25vw;
  height: 30vh;
  object-fit: fill;
  display: none;
  z-index: 100;
}



#rightCloud{
  position: absolute;
  top: -50%;
  right: -120%;
  width: 25vw;
  height: 30vh;
  object-fit: fill;
  display: none;
  z-index: 100;
}