:root{
  --primary-color : #101010;
  --secondary-color : rgb(82, 255, 59);
}

*{
  margin : 0;
  padding : 0;
}
html, body{
  height : 100%;
  width : 100%;
  box-sizing : border-box;
}

body{
  background-color: var(--primary-color);
  color: white;
  font-family: "Oxanium",sans-serif; 
}

body::-webkit-scrollbar{
  width: 0.4rem;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track{
  background: rgb(62, 62, 62);
}

body::-webkit-scrollbar-thumb{
  background-color: transparent;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 50px;
  box-shadow: inset 0px 0.05px 3px var(--secondary-color);
}